<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>勿忘六四</h1>
      <hr>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="timeline.html#timeline" class="btn btn-primary btn-xl page-scroll">大事记</a>
        </li>
        <li class="list-inline-item">
          <a href="portfolio.html#portfolio" class="btn btn-primary btn-xl page-scroll">图片墙</a>
        </li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="video.html#video" class="btn btn-primary btn-xl page-scroll">影像资料</a>
        </li>
        <li class="list-inline-item">
          <a href="list.html#list" class="btn btn-primary btn-xl page-scroll">死难者名单</a>
        </li>
      </ul>
    </div>
  </div>
</header>
