<section class="no-padding" id="list">
  <div class="container">
    <div class="center-block">
      <h2>202位死难者名单</h2>
      <p>搜集者：天安门母亲群体<br>提供者：丁子霖，蒋培坤</p>
    </div>
    <hr>
    <table class="table table-striped table-responsive">
    <tbody>
<tr>
<td>1，蒋捷连，男，17，北京市，中国人民大学附中高二四班学生</td>
<td>6.3.夜10:30左右从家中卫生间跳窗离家经木樨地去天安门广场，11点多戒严部队强行突进至木樨地，在复外大街29楼前长花坛后遭枪杀。中弹后对同伴说：「你们快跑！我可能中弹了！」随即倒下。子弹从后背左侧穿胸而过，伤及心脏，送市儿童医院抢救无效身亡。医院开具证明「来院前已死亡」，为6.3夜木樨地地区第一批遇难者。6月7日于八宝山火化，骨灰一直放置在家中灵堂内。</td>
</tr><tr>
<td>2，王楠，男，19，北京市，北京市月坛中学高二学生</td>
<td>6.3.夜11时，携像机离家，6.4.凌晨在南长街南口头部中弹倒地，戒严部队禁止救护队抢救，两三小时后身亡，当即与其他尸体被埋于天安门西侧北京市28中学校门前绿地内。6月7日，尸体发出异味，经校方交涉，将尸体挖出，因穿着军服被疑为戒严部队士兵，送往护国寺医院，其家人6月14日才找到，于6月26日，经市公安局出具「外出死亡」证明于八宝山火化，骨灰安放在北京西郊万安公墓骨灰堂。</td>
</tr><tr>
<td>3，杨明湖，男，42，北京市，中国国际贸易促进会专利部法律处职员</td>
<td>6.4.凌晨在东长安街公安部前，遇戒严部队扫射，腹部中弹(炸子)，被送往同仁医院抢救。膀胱、骨盆粉碎，手术后高烧不退，于6月6日身亡，火化后骨灰安放在北京西郊万安公墓骨灰堂内。</td>
</tr><tr>
<td>4，萧杰，男，19，四川省，中国人民大学新闻系88级学生</td>
<td>6.5.萧已购得回四川成都的火车票，下午两点左右行至南池子南口，过马路时因逾红色警戒线，戒严部队令其站住未听从，子弹从后背穿过前胸，当即死亡。下午四时许公安部据从遗体发现的学生证通报学校领回尸体。萧曾参加过胡耀邦逝世后在人民大会堂前的抗议活动和后来的绝食活动。</td>
</tr><tr>
<td>5，陈来顺，男，23，北京市，中国人民大学新闻系新华社代培摄影班89级应届毕业生</td>
<td>6.3.晚，在人民大会堂西北侧的平房顶上照相时，头部中弹身亡。遇难后，同班学员集资在香山金山陵园购置墓地安置其骨灰，并立有墓碑。</td>
</tr><tr>
<td>6，郝致京，男，30，安徽马鞍山市，中科院科技政策与管理研究所助研，88年曾访美</td>
<td>6.3.晚11点多，在木樨地左胸中弹，死于复兴医院。家人于7月4日才找到尸体，骨灰安葬在北京西郊万安公墓。</td>
</tr><tr>
<td>7，谢京锁，男，21，北京市，北京联合大学轻工业学院二年级学生</td>
<td>6.4.凌晨，在西单六部口，先被棍棒打伤，下身被打烂，后又左胸中弹，送市急救中心抢救无效死亡。遇难时身携照像机。</td>
</tr><tr>
<td>8，萧波，男，27，湖南龙山县，北京大学化学系讲师，萧16岁即考入北大技术物理系</td>
<td>6.3.夜，萧赴木樨地劝导学生返校，被子弹击中前胸，送复兴医院抢救无效身亡。火化后骨灰送湖南湘西龙山县家乡存放。6月3日是萧波的生日。萧遇难时留下一对孪生子，刚出生才70天，其中一子出生时即患有脑瘫。</td>
</tr><tr>
<td>9，孙辉，男，19，宁夏石嘴山市，北京大学化学系88级4班学生</td>
<td>6.4.晨，骑车寻找被戒严部队冲散的同班同学，身穿北大背心，下穿牛仔裤，于西单被射杀，横尸街头。遗体火化后，在北京老山骨灰堂存放三年，后移置在宁夏家中。</td>
</tr><tr>
<td>10，陆春林，男，27，江苏吴江市，中国人民大学哲学系86级研究生</td>
<td>6.3.夜，在木樨地被戒严部队射杀，临终前将身上证件交行人送回学校，由校方认回尸体火化，骨灰安葬在江苏老家。</td>
</tr><tr>
<td>11，张向红，女，20，北京市，中国人民大学国政系国际共运专业87级学生</td>
<td>6.3.夜11点多，与兄嫂多人从珠市口亲戚家出来归家的途中，在前门遇戒严部队受阻，并被冲散。张与嫂一起躲在前门西侧树丛后，被子弹击中左胸主动脉，穿透后背，送市急救中心，6月4日凌晨去世。骨灰葬于太子峪公墓。</td>
</tr><tr>
<td>12，程仁兴，男，24，湖北省通山县农村，武汉华中师院外语系英语专业毕业，中国人民大学苏联东欧研究所87级双学位应届毕业生</td>
<td>6.4.凌晨于天安门广场国旗旗杆下腹部中弹，送北京医院因未能及时抢救，流血过多死亡，程的遗体11天后由其女友及来京料理后事的大哥从医院领回。程仁兴为程家唯一上大学的儿子。</td>
</tr><tr>
<td>13，王一飞，男，31，北京市，北京中关村大通公司职员</td>
<td>6.3.夜，在三里河中科院院部门口，左胸肺部中弹。家人6月4日从复兴医院领回尸体。</td>
</tr><tr>
<td>14，杨燕声，男，30，北京市，体育报社工作人员</td>
<td>6.4凌晨，在正义路口抢救伤员时腹部中炸子，被送往北京医院，不治身亡，骨灰安放在北京西郊万安公墓骨灰堂。</td>
</tr><tr>
<td>15，张瑾，女，19，北京市，国贸中心外事服务专业学校毕业生，国贸中心培训班学员</td>
<td>6.3.夜12时多，与男友一起躲在民族宫附近的胡同里，遭戒严部队扫射，头部中弹，6月4日凌晨死于邮电医院。6月14日火化，骨灰安葬在太子峪公墓福南区第4排。</td>
</tr><tr>
<td>16，段昌隆，男，24，北京市，清华大学化工系应用化学专业84级应届毕业生，班长</td>
<td>6.3.夜，从家中骑车外出，在民族宫附近遇戒严部队与群众对峙，左胸中弹，为小口径手枪近距离射杀。6月4日凌晨死于邮电医院。骨灰安葬在北京西郊万安公墓。</td>
</tr><tr>
<td>17，王卫萍，女，25，北京市，北京人民医院妇产科实习大夫，北京医科大学应届毕业生</td>
<td>6.3.夜，在木樨地附近救治伤员时颈部中弹，送北大医院抢救无效身亡，其骨灰安葬在北京西郊万安公墓。碑文上除姓名和身份外，还刻有生卒年月：「1964.12.21生，1989.6.3遇难身亡」。</td>
</tr><tr>
<td>18，王建平，男，27，北京市，北京市煤气公司南郊车队司机</td>
<td>6.3.夜，在西单路口左胸中弹，伤及肺，4日凌晨死于北京市急救中心。骨灰先安葬在京郊一位农民的地里，后移至海淀区东升骨灰堂。王遇难时留下一对孪生女，才八个多月。</td>
</tr><tr>
<td>19，王培文，男，21，陕西咸阳市，中国青年政治学院青年工作系86级学生</td>
<td>6.4.凌晨，王走在从天安门广场撤出的学生队伍头排，在六部口被坦克轧死，尸体轧碎。</td>
</tr><tr>
<td>20，董晓军，男，20，江苏盐城市，中国青年政治学院青年工作系86级学生</td>
<td>6.4.晨，在六部口附近，董站在从天安门广场撤出的学生队伍尾部，被由后至前的坦克压死，尸体碾碎。遗体火化后葬于家乡。</td>
</tr><tr>
<td>21，袁力，男，29，北京市，电子工业部自动化研究所工程师</td>
<td>6.3.夜11点多，离家不久便在木樨地咽部中弹，家人找遍北京44家医院。袁为海军总医院第二号无名尸。6月19日家人认领后于6月24日火化，安葬于北京西郊万安公墓。袁力于北方交大研究生毕业，曾访德，并已获赴美留学签证。</td>
</tr><tr>
<td>22，叶伟航，男，19，北京市，北京市57中高三学生，班长，学生会干部</td>
<td>6.3.凌晨2点左右，于木樨地中弹，亡于海军总医院，为该院第一号无名尸，身上三处中弹，一为左臂贯通伤，一为右胸封闭伤，一为右后脑封闭伤。家人于6月5日找到尸体，骨灰安放在家中。</td>
</tr><tr>
<td>23，吴国锋，男，21，四川新津县，中国人民大学工业经济系86级学生，89学运期间曾为校学生自治会筹委会成员</td>
<td>6.3.夜，携像机骑自行车离校，后脑中弹，肩、肋骨、手臂都有枪伤，倒地后，又被刺刀捅入腹部，有2寸长的刀口，双手手心留有明显刀痕。当时由一老人送邮电医院，吴向老人说完他所在的学校就死了。6.4晨，人大教授蒋培坤在寻找其子尸体时，于邮电医院发现吴的死亡名单，受医院委托将名单带回学校，尸体火化后骨灰由其父母领回，现存放家里。吴生前曾参加过天安门绝食行动，一连五个昼夜。</td>
</tr><tr>
<td>24，王超，男，30，北京市，北京中关村四通公司职员</td>
<td>6.3.夜遇难，为海军医院第三号无名尸，骨灰安放在香山附近的金山陵园。</td>
</tr><tr>
<td>25，安基，男，31，北京市，建设部中国建筑技术研究中心《村镇建设》杂志编辑</td>
<td>6.6.晚12时许，与六名友人(4男2女：王争强及其女友、王争胜及其女友、杨子明及其弟)在南礼士路路口，被戒严部队喝住，旋即扫射，王氏及杨氏兄弟四人中弹，送往复兴医院。两女青年跪地求饶幸免一死。安基一弹伤及腿部，一弹从后背斜穿胸部，6.7日凌晨4时死于儿童医院。遗体火化后存放在西郊福田公墓骨灰堂。</td>
</tr><tr>
<td>26，于地，男，32，北京市，北京太阳能研究所工程师，曾与同事发明电热膜，获过奖</td>
<td>6.4.凌晨2时，戒严部队在南池子至历史博物馆一带与市民对峙，曾四次扫射百姓，于第一批被击中，子弹从左下肋骨穿入右上肋穿出，伤及肝肾肺等八个脏器，擦伤脊柱，由协和医院先后作了四次大手术，摘去一肾，抢救20余天，高烧不退，6月30日死于协和医院。</td>
</tr><tr>
<td>27，严文，男，22，北京市，北京大学数学系二年级学生</td>
<td>6.4.凌晨一时许，在木樨地帮助摄像时被打中右大腿根部动脉，送海军医院抢救不治身亡。遗体火化后葬于太子峪公墓福南区第11排。</td>
</tr><tr>
<td>28，钱缙，男，21，北京市，北京外贸大学86级本科生</td>
<td>6.3.夜，10点左右，钱与一袁姓同学由北蜂窝路口骑车朝木樨地方向拐弯回家，正值戒严部队由西向东扫射，一梭子弹射中路边很多群众，钱与袁姓同学同时腹部中弹，被群众送到铁路总医院枪救。钱因动脉被炸断，于6月5日死于铁路总医院。骨灰安葬于苏州。</td>
</tr><tr>
<td>29，刘弘，男，24，不详，清华大学88级环保专业研究生，83级本科生毕业</td>
<td>6.4.凌晨，在前门附近，腹部中弹，肠子流出，被同学塞进，扣上一只小盆后送医院抢救，无效，死于同学怀中。</td>
</tr><tr>
<td>30，钟庆，男，21，广西陆川，清华大学精密仪器系86级6班本科生</td>
<td>6.3.夜，在木樨地被子弹击中头部，打掉半个脸。从遗体衣袋中钥匙辨明其身份，通知学校。【六四档案一位网友补充：钟庆的介绍里出生地列为不详。我和他的一个中学同学联系上，得知钟庆是从广西玉林中学考入清华的。他的家乡是广西陆川。】</td>
</tr><tr>
<td>31，周得宝，男，20多，湖南省，中科院生物物理研究所应届毕业生，已决定分至南京大学。</td>
<td>不详</td>
</tr><tr>
<td>32，ＸＸＸ，女，不详，北京市，101路售票员</td>
<td>6.4.凌晨5时许，陈尸于东郊红庙十字路口北。（由目击者多人提供）。</td>
</tr><tr>
<td>33，张ＸＸ，男，53，北京市，东郊热电厂基建处科长</td>
<td>6.4.凌晨5时许，陈尸于东郊红庙十字路口北。（由目击者多人提供）。</td>
</tr><tr>
<td>34，吕鹏，男，9，北京市，北京顺城根小学三年级学生</td>
<td>6.3.夜12时左右，在复兴门立交桥附近被戒严部队射中胸部，当场死亡。尸体曾被民众置于敞蓬车上游行示众。</td>
</tr><tr>
<td>35，庄捷生，男，27，北京市，北京五道口百货商场售货员</td>
<td>6.3.白天，离家后再未返回，6月11日家人在同仁医院从无名尸照片中找到庄的遗体，胸部及胳膊两处中弹，火化后在八宝山骨灰堂存放三年，后转存至东升骨灰堂。</td>
</tr><tr>
<td>36，袁敏玉，男，35，北京市，北京地质仪器厂电焊工</td>
<td>6.3.夜，在三里河木樨地之间，心窝与喉部中弹，6月4日下午在儿童医院去世，6月5日由亲友钉棺木运回河北老家掩埋。</td>
</tr><tr>
<td>37，杜燕英，男，29，北京市，北京市劳改局下属某公司职工(原为北航82年毕业生)</td>
<td>6.4.凌晨2时，在前门大北照相馆附近，肝部中炸子，6月5日凌晨死于友谊医院。</td>
</tr><tr>
<td>38，路建国，男，40，北京市，北京市旅游局司机</td>
<td>6.3.夜11点，在二七剧场路三里河商场附近，左胸中炸子身亡，死于阜外医院。</td>
</tr><tr>
<td>39，王争胜，男，20多，北京市，华北物资站职工</td>
<td>6.6.夜，与安基(见遇难者0025号)等人一起遇难，其兄王争强也在场，被射伤。</td>
</tr><tr>
<td>40，李长生，男，不详，北京市，北京联合大学自动化工程学院图书馆管理员</td>
<td>6.4.凌晨，离家去天安门广场，至今生不见人，死不见尸。</td>
</tr><tr>
<td>41，奚桂茹，女，24，北京市，北京市展览馆劳动服务公司职工</td>
<td>6.4.凌晨，于二七剧场路北口左肩中弹，死于人民医院。</td>
</tr><tr>
<td>42，戴伟，男，20，北京市，北京和平门烤鸭店厨师</td>
<td>6.3.晚，戴去前门烤鸭店上班，行至民族饭店前受阻，后背中弹，送邮电医院，因失血过多于6月4日凌晨死亡。</td>
</tr><tr>
<td>43，吴向东，男，21，北京市，北京东风电视机厂职工，夜大经管系三年级学生</td>
<td>6.3.夜11点多，于木樨地桥头附近，颈部中炸子。被群众送往复兴医院，因流血过多于4日凌晨5时左右去世，临死时头脑清楚，亲手在壹角毛票上写下自己所在单位地址，托一北航学生报信。4日晚家人认领遗体，7日于东郊火葬场火化。骨灰葬于八宝山人民公墓2区3排。</td>
</tr><tr>
<td>44，刘建国，男，35，北京市，北京长城风雨衣公司销售科科员</td>
<td>6.3.夜12点钟左右，在西单路口胸部中弹，送二龙路医院抢救，不治身亡，遗骨葬于太子峪公墓福南区第7排。</td>
</tr><tr>
<td>45，赖笔，男，21，广西邕宁县，北京医科大学87级学生（壮族人）</td>
<td>6.4.凌晨2时左右，于西长安街南长街口中弹身亡，子弹从前额射入，从后右脑穿出，口径约10厘米，送北京医科大学第一附属医院抢救无效，于晨6时死亡，北医所出证明为「误伤」，遗体运回医科大学，举行了告别仪式，赖的家人来京领回骨灰，存放于邕宁家中。</td>
</tr><tr>
<td>46，董琳，男，24，北京市，北京东城区人民法院职工</td>
<td>6.3.夜11点钟左右，在木樨地河东岸，右肋下中炸子，送复兴医院。与董同时中弹者有四人，一人大腿根动脉中弹，当时大出血死亡;另三人送复兴医院，其中一人系电视台工作人员，中弹部位、手术情况与董琳相似。两人因无血可输于4日晚死亡。</td>
</tr><tr>
<td>47，虢安民，男，23，湖南省，北京航空航天大学喷气发动机专业89届应届毕业生。生前已通过硕士研究生考试</td>
<td>6.4.凌晨，头部中弹，当即死亡，半边脸被炸飞，遗体于当日停放在政法大学主楼大厅，数日后由北航领回。</td>
</tr><tr>
<td>48，林仁富，男，30，福建莆田市，北京科技大学材料系应届毕业博士生</td>
<td>6.4.凌晨，与同学王宽宝一起从天安门广场撤出，行至六部口被坦克碾死。已婚，生前已联系好10月去日本。</td>
</tr><tr>
<td>49，孙彦昌，男，24，北京市，北京建筑筑炉公司司机</td>
<td>6.3.夜，孙离家去找弟弟，在东郊红庙110车站总站广场南面，被戒严部队枪弹击中颈椎第四节神经中枢，当时由朝阳医院救治，半年后医治无效身亡。</td>
</tr><tr>
<td>50，钱辉，男，21，福建省，北京广播学院新闻采编专业应届毕业生</td>
<td>6.5.凌晨，在广播学院校门外，由一辆坦克上射出的大型子弹击破膀胱，另一枪打断大腿动脉。当时未死，还向同伴说了一句：「当心！军车还没有过去！」同伴把他抢救至校门内，血流一百米，死去。</td>
</tr><tr>
<td>51，邹冰，女，约19，河北省，北京广播学院88级学生</td>
<td>邹因参加89民运受审查，过不了关，于89年9月中旬由学校塔楼13层跳楼自杀。死后校方诬邹有神经病，事实上邹并无神经病，死前几天曾给父母寄过遗书，说辜负了父母的养育之恩。死前10分钟还给宿舍打过几壶水。</td>
</tr><tr>
<td>52，朴长奎，男，47，北京市，中央民族歌舞团演奏员（朝鲜族）</td>
<td>6.3.夜，在西单至复兴门之间，左脑后中弹，子弹从右颈下穿出，死于邮电医院，埋在金山陵园，未立碑。</td>
</tr><tr>
<td>53，卞宗序，男，40，北京市，北京新街口机电产品供销公司经理</td>
<td>6.4.凌晨，在西单家俱店门前，子弹从头部斜穿过去，当即死亡。骨灰葬于太子峪公墓，墓碑上写着：全家亲人及亲友哀立。卞遇难时留下一对孪生子女。</td>
</tr><tr>
<td>54，田道民，男，22，湖北石首市农村，北京科技大学管理系85级学生</td>
<td>6.4.清晨，田做完毕业论文后去六部口，被坦克碾死，压去半边脸，连同左眼。送市急救中心，不治身亡。葬于家乡。</td>
</tr><tr>
<td>55，何洁，男，23，黑龙江宝清县，中国科学院计算技术研究所研究生</td>
<td>6.3.晚，何与同学一起去天安门，于南池子遇难，北京医院「死亡证明」为「颅脑损伤」（脑部中弹），于6月4日3点40分去世。何15岁高中一年级时被清华大学录取为大学本科生，87年由清华推荐免试录取为中科院计算技术所硕士生，遇难时年仅23岁。骨灰由家人带回黑龙江老家，葬于完达山脉的小青山上南山陵地。</td>
</tr><tr>
<td>56，宋晓明，男，32，北京市，航天部二院283厂技术工人</td>
<td>6.3.夜，宋走在五棵松十字路口西南方向的人行道上，由南边来的军车向喊口号的民众射击，子弹穿透宋的大腿根部动脉，送301医院，持枪的军人命令大夫不准抢救，不准输血，终因流血过多于6.4凌晨死亡。宋的母亲在儿子遇难后不久因肾衰竭去世。宋的骨灰埋在太子峪，83号，无碑。</td>
</tr><tr>
<td>57，刘燕生，男，37，北京市，北京家用电气研究所工人</td>
<td>6.3.夜，在长安街民族宫路口中弹，穿透腹部，送邮电医院抢救，血流尽而亡。</td>
</tr><tr>
<td>58，温杰，男，26，北京市，北京大学88年中文系硕士研究生毕业，北京服装学院教师</td>
<td>「六四」后被羁押，狱中患肠癌，保释出狱后不久病逝。</td>
</tr><tr>
<td>59，里慧泉，男，约35，北京市，中国冶金报记者</td>
<td>6.4.凌晨，在六部口路南遇难。6月11日于邮电医院发现遗体，为无头尸。</td>
</tr><tr>
<td>60，张汝宁，男，32，北京市，中国国际广播电台俄语部副主任</td>
<td>6.3.夜10时多，离家步行去电台途中，穿越马路，在木樨地桥头附近腹部中炸子，被送复兴医院抢救，无效，于6.4日凌晨身亡。遗骨葬于西郊福田公墓。</td>
</tr><tr>
<td>61，刘凤根，男，40，北京市，地质部钻探工具厂工人</td>
<td>6.3.夜10点钟左右，离家去西单一带抢救伤员，身中三弹，背部，胳膊，有一弹从左臂处穿过心脏，由民众送二龙路医院，血流尽不治身亡。遗骨先存放在老山骨灰堂，现取回置放在家中。</td>
</tr><tr>
<td>62，李萌，女，32，北京市，国家语言文字改革委员会助研</td>
<td>6.4.其夫中炸子受重伤，从尸体堆里找到，幸免于死。李精神受强刺激，导致失常，90年底走失，寻找多年杳无音讯，活不见人，死不见尸，公安部门已签发死亡通告，吊销户口。</td>
</tr><tr>
<td>63，贲云海，男，22，北京市，北京市广安门内街道办事处职工</td>
<td>6.3.夜，离家未归，于6.4日在复兴医院找到尸体，腹部中炸子，经抢救无效身亡，骨灰葬于京郊金山陵园。</td>
</tr><tr>
<td>64，刘洪涛，男，18，湖北武汉市，北京理工大学工程光学系88级(40882班)本科生</td>
<td>6.4日凌晨一时许，在民族文化宫附近遇难，尸体从北京邮电医院领回。</td>
</tr><tr>
<td>65，周欣明，男，16，北京市，北京雪花电器公司技术学校一年级学生</td>
<td>6.4遇难，在民族宫前，为救援伤员，被炸子击中肋﹑肝部，从右背下方穿出，肝部粉碎。送积水潭医院，于凌晨５时死于手术室。葬于金山陵园。</td>
</tr><tr>
<td>66，王钢，男，20，北京市，北京焦化厂技工</td>
<td>6.3.下午离家去厂里上夜班，6.4早7点下班后，到焦化厂大门口买早点，恰遇大队军车开过，速度很快，他无法过马路，就站在路边等待。这时有一辆军车向人群冲来，当场轧死3人，撞伤很多人，王钢是3名死者之一。军车轧死人后，士兵换乘别的车辆开走了。愤怒的民众把丢弃的那辆车烧了。王钢内脏撞伤，当场死亡，后送垂杨柳医院，不治。骨灰安葬于北京西郊金山陵园。</td>
</tr><tr>
<td>67，张琳，男，37，北京市，不详</td>
<td>6.4遇难，葬于金山陵。</td>
</tr><tr>
<td>68，韩子泉，男，38，北京市，北京科技大学(原钢铁学院)电工</td>
<td>6.4.凌晨5点多，送亲戚上班，离家不到半小时，在农展馆附近颈部中弹身亡。</td>
</tr><tr>
<td>69，李德志，男，25，湖北武汉市，北京邮电学院应用物理系88级研究生</td>
<td>6.3(4).在复兴门遇难，尸体从复兴医院领回。</td>
</tr><tr>
<td>70，周永齐，男，32，北京市，北京弹簧厂汽车队队长</td>
<td>6.3.晚11点多，在工会大楼附近中弹，子弹从左侧胸部射入经右肺穿出，伤及心肺，送复兴医院，不治身亡。</td>
</tr><tr>
<td>71，南化通，男，31，北京市，北京市住宅壁板厂司机</td>
<td>6.4.凌晨5点左右，离家去长安街，就此再没有回家。家属两天后在协和医院认出死者照片，找到遗体;子弹从左后肩胛骨下射入，胸腔被炸烂。</td>
</tr><tr>
<td>72，贺安彬，男，32，北京市，不详</td>
<td>6.4遇难，葬于太子峪公墓。</td>
</tr><tr>
<td>73，仲桂清，女，31，北京市，不详</td>
<td>6.4遇难，葬于太子峪公墓。</td>
</tr><tr>
<td>74，穆桂兰，男，48，北京市，北京国棉三厂整理车间工人</td>
<td>6.4.清晨6点半左右，穆出门买早点，路过朝阳门立交桥，遇坦克、军车自通县方向开来，一路射击，穆脑部中弹，当即死亡。路人曾照相为证，并寄给家人。</td>
</tr><tr>
<td>75，熊志明，男，20，江西金溪县农村，北京师范大学88级经济系本科生</td>
<td>6.3.晚，遇难，据有关人士讲，熊当时与班上一女同学躲进胡同口，女同学先遭枪杀，熊上前救援也遭枪杀，熊的遗体由其同学从熊所穿衣服辨认，由学校领回。</td>
</tr><tr>
<td>76，张卫华，男，约24，不详，国家海洋局海洋预报台硕士生</td>
<td>6.4.凌晨，在礼士路，腹部中弹，6.5日在儿童医院找到尸体。</td>
</tr><tr>
<td>77，张ＸＸ，男，19，河南省农村，北京商学院企业管理专业88级本科生</td>
<td>6.4.凌晨，自天安门广场撤离至六部口，额头曾被棒击，咽喉中弹，送北京市急救中心抢救无效身亡。</td>
</tr><tr>
<td>78，龚纪芳，女，19，内蒙包头市，北京商学院企业管理专业88级本科生</td>
<td>6.4.凌晨，自天安门撤至六部口，左胳膊中弹(炸子)倒地，因毒瓦斯造成昏迷，送北京市急救中心，抢救无效身亡。死亡证明书上载明：死因主要是由毒瓦斯造成肺部糜烂。</td>
</tr><tr>
<td>79，江ＸＸ，男，26，辽宁省，中国新闻学院硕士研究生</td>
<td>6.3.晚，于建国门外中弹身亡。</td>
</tr><tr>
<td>80，刘春永，男，24，北京市，北京天桥南通服务楼浴室工作人员</td>
<td>6.3.夜，在天桥附近15路公共汽车总站，遇从南边过来的空降部队扫射，头部中弹，经友谊医院抢救无效，于4日凌晨身亡，医院出具死亡证明为：「头部枪伤引起心衰、呼衰。」遗体葬于通县某地。</td>
</tr><tr>
<td>81，刘俊河，男，56，北京市，个体户</td>
<td>刘在前门大街箭楼下摆西瓜摊，6.4.凌晨被戒严部队击中面颊主动脉，死于友谊医院。</td>
</tr><tr>
<td>82，梁宝兴，男，25，北京市，北京华丰缝纫机厂司机</td>
<td>6.3.夜，在天桥15路公共汽车总站附近，脸颊被打穿，送友谊医院抢救无效，于5日身亡。</td>
</tr><tr>
<td>83，栾沂伟，男，35，内蒙包头市，包头钢铁设计研究院工程师</td>
<td>6.4.凌晨，在南池子附近腰部中弹，于同仁医院抢救无效身亡。</td>
</tr><tr>
<td>84，苏金坚，男，25，北京市，职高电子专业毕业生，服装个体户</td>
<td>6.3.夜，脑部中弹，送往友谊医院，6.4凌晨2点，不治身亡，为友谊医院第1号尸体（该院第二号尸体为北京农业大学学生）。6.14.苏父于该院找到遗体，骨灰曾于八宝山骨灰堂存放3年，后存古田公墓骨灰堂。</td>
</tr><tr>
<td>85，张罗红，女，30，北京市，总政干休所(白石桥)工作人员</td>
<td>6.3.晚，遇难于木樨地。</td>
</tr><tr>
<td>86，王志英，男，35，北京市，北京第三通用机械厂重型汽车铸造厂传动桥厂车工</td>
<td>6.3.晚11点，与妻从岳母家(宣武门)回东珠市口家里，约12点多至珠市口十字路口，遇戒严部队向北行进，一路扫射，王夫妇躲在路口一辆面包车后面，一颗子弹射中王颈动脉，送前门医院，又转送同仁医院，因失血过多，抢救无效死亡，是同仁医院第一个遇难者。骨灰安葬于昌平佛山公墓。</td>
</tr><tr>
<td>87，王鸿为，男，21，北京市，海淀区皮革研究所职工，中专毕业生</td>
<td>6.3.值班回家途中遭枪击，子弹横穿胸部。6.4.家人接到市民报信，赶往海军医院，认领遗体。</td>
</tr><tr>
<td>88，李淑珍，女，51，北京市，北京自来水公司某单位食堂工人</td>
<td>6.3.晚，与丈夫骑车外出，在军事博物馆附近，遇戒严部队射击，身中3弹，送邮电医院抢救无效，于6.4日死亡。</td>
</tr><tr>
<td>89，马承芬，女，55，北京市，49年参军，参加过抗美援朝，53年回国复员，属铁道兵</td>
<td>6.3.晚，与楼内邻居在院内(水利科学院对门)纳凉，遭行进中的军车射击，腹部中弹，送304医院抢救无效，于6.4凌晨身亡。马死后，其夫曾多次给军队系统写信反映，一直无回答，９２年由其夫个人出资将骨灰葬于金山陵园。</td>
</tr><tr>
<td>90，郭ＸＸ，男，22，北京市农村，不详</td>
<td>6.3.晚9点多，在复兴路、永定路口中弹身亡。</td>
</tr><tr>
<td>91，杨振江，男，32，北京市，北京淮阳春饭店服务员</td>
<td>6.4.凌晨，和几位同学途经木樨地，左腿根中弹，打断动脉，送海军医院抢救无效身亡，6月6日找到尸体，骨灰安放在北京西郊万安公墓骨灰堂。</td>
</tr><tr>
<td>92，李莉，女，约20，贵州省，四川成都电讯工程学院十四系自动控制系八七级学生</td>
<td>6.4.上午，与男友一起去成都人民南路广场，遇警察与群众发生冲突，她在逃离广场时被警察抓住，遭警察的电棒猛击，后由群众送往医院，终因伤势过重于当夜身亡。几天后其父母从贵州去成都参加追悼会。</td>
</tr><tr>
<td>93，寇霞，女，31，北京市，北京西四北幼儿园教师</td>
<td>6.3.夜，在军事博物馆对面人行道上腹部中弹，送铁路医院抢救，因伤及脾脏，于6月4日下午5时身亡。</td>
</tr><tr>
<td>94，韩秋，男，25，黑龙江佳木斯市，黑龙江省佳木斯市制钉厂销售科业务员</td>
<td>六四期间来北京出差，6.4.凌晨，后脑中弹，送天坛医院，不治身亡，该院开具了「死亡通知」单，但没有写明死因，北京崇文区公安局开出死亡证明：枪击致死。</td>
</tr><tr>
<td>95，刘锦华，女，34，北京市，白石桥总政政治部干休三所职工</td>
<td>6.3.晚9点，与其夫(受伤，另有记录)从八里庄去永定门外姑姑家给孩子取药，至西单，遇戒严部队，返回；11点左右至木樨地燕京饭店处，遇戒严部队扫射，两人躲入木樨地21楼边的小胡同，士兵追入胡同射击，刘上额中弹，立即死亡。</td>
</tr><tr>
<td>96，王铁军，男，不详，北京市，北京铁路局木樨地客运处职员</td>
<td>6.3.晚，在单位值班(木樨地)，于楼顶持望远镜观看戒严部队进城情况时中弹身亡。</td>
</tr><tr>
<td>97，黄涛，男，不详，江苏张家港市，北京某大学学生</td>
<td>6.4遇难。</td>
</tr><tr>
<td>98，陶志敢，男，24，浙江天坛县，北京某大学学生。</td>
<td>不详。</td>
</tr><tr>
<td>99，许建平，男，19，不详，北京某大学学生。</td>
<td>6.4.脸部被击中，坦克又从他身上压过，致死。</td>
</tr><tr>
<td>100，何国，男，27，北京市，北京月坛街道粮店工人</td>
<td>6.3或6.4.晚上，在木樨地遇枪击，死于复兴医院。</td>
</tr><tr>
<td>101，李辉，男，19，北京市，北京司法学校应届毕业生</td>
<td>6.3.晚11点听到枪声后，与其兄李明一起，从父母居住地木樨地公安大学宿舍楼出门了解情况，不久即中弹，子弹从左颧骨射入，耳后穿出。家人于夜12点差10分的时候在复兴医院找到遗体。其兄李明同时中弹，左腿受伤。</td>
</tr><tr>
<td>102，罗维，男，30，北京市，北京半导体材料厂助理工程师</td>
<td>6.4.晚，于长安街西侧骑车时遇难。广安门医院诊断：腹部枪伤，当时未死，腹内取出两颗子弹，一颗为达姆弹，在腹腔内炸开，伤及肝、肾、胆、胃及消化道，医院曾作肝、胃修补术，不治，于6月6日晨8点死于急性肾功能衰竭。</td>
</tr><tr>
<td>103，齐文，男，16，北京市，北京铁路三中学生</td>
<td>6.3.晚，在木樨地中弹，死于复兴医院。</td>
</tr><tr>
<td>104，刘占民，男，38，北京市，中国五金矿产进出口公司职员</td>
<td>6.4.凌晨约3、4点之间，刘从东四六条四十四号住处去东四六条南面岳母家，因他妻子刚分娩住在娘家。但他既没有去岳母家，也没有回自己家。３天后在协和医院找到刘的尸体，编号为２１＃。右颌骨中弹，子弹未穿出。（据家人回忆，当时协和医院共有４０余具编了号的尸体照片）。</td>
</tr><tr>
<td>105，石岩，男，27，辽宁大连市，空政文工团演奏员</td>
<td>6.4.凌晨，头部中弹，红十字会救护车送至北京人民医院时还没有停止呼吸，后抢救无效死亡，于八宝山火化。</td>
</tr><tr>
<td>106，任建民，男，30多，河北定州市农村，河北省定州陈庄子村农民</td>
<td>89天安门运动期间，任去内蒙看望刚分娩的妻子(任妻为内蒙人)，于6月4日返回河北途经北京时遇戒严部队开枪，腹部中弹，肠子流出，被送往北京协和医院，医院判断已无法救治，移置于太平间。后发现任还活着，遂通知其家属，任家属因无钱留院治疗，由其姐夫带回河北家里。回家后仍无钱治疗，简单处理后在家养伤，后流出的肠子腐烂。任不堪痛苦于农历中秋节后第二天上吊自杀。</td>
</tr><tr>
<td>107，孙铁，男，26，北京市，中国银行总行职员，复员军人</td>
<td>6.3.晚，在军事博物馆前面遇戒严部队开枪，与朋友一起跑到附近有色金属设计院内躲避，戒严部队追入射击，胸部中弹，送铁路总医院，不治身亡。医院开具的死亡证明称：「右胸部中弹伤及肺部静脉，重度失血休克，死亡时间89年6月3日23时45分」。孙死后单位以「病故」处理。由孙生前同学募款安葬于八宝山公墓。</td>
</tr><tr>
<td>108，ＸＸＸ，男，不详，北京市，北京市１９０中学高中学生</td>
<td>其父为北京某派出所所长，6.3.ＸＸＸ去该派出所找到父亲，6.4.其父派该所民警将其送回家去，途经南河沿一带被戒严部队射杀。</td>
</tr><tr>
<td>109，苏生机，男，43，北京市，北京亚运村《住宅建设》报记者</td>
<td>6.3.傍晚，苏在新街口松树街一朋友家谈工作，6点，见电视中戒严部队紧急通告，随即离开朋友家，11点，有人在劳动人民文化宫见到苏，以后再也没有人见到。家人至今没有找到尸体。</td>
</tr><tr>
<td>110，任文联，男，19，内蒙临河市农村，北京科技大学采矿系一年级学生</td>
<td>6.4遇难。</td>
</tr><tr>
<td>111，黄培璞，男，不详，北京市农村，住北京市海淀区四季青公社东冉村黄庄</td>
<td>6.4遇难。</td>
</tr><tr>
<td>112，郑春富，男，37，北京市，故宫古建工程队工人，班长</td>
<td>原住东城区演乐胡同78号，6.3夜11点多离家后失踪，至今杳无音讯，事后家属遍找城区所有医院太平间及火葬场，未见尸骨。</td>
</tr><tr>
<td>113，ＸＸＸ，男，16，北京市，北京市建筑工业学校88级学生</td>
<td> 家住白云路一带，6.3.夜，身中两弹，送空军总医院抢救，不治身亡。</td>
</tr><tr>
<td>114，曹振平，男，29，北京市，北京农业机械工程学院计算站职工(复转军人)</td>
<td>6.3.晚，在西单抢救一名女记者时背部中弹，腹部又炸烂，送邮电医院后转人民医院，6日因失血过多去世。</td>
</tr><tr>
<td>115，李振英，男，45，北京市，军事医学科学院仪器厂技工</td>
<td>6.3.晚，去301医院给孩子取药，约10点多，有人见到李站在301医院北门门卫旁边，此时戒严部队从西边扫射过来，忽然门卫向前倾倒(有人说中弹倒下)，李正欲去扶，自己前胸中弹，子弹从右后胸穿出，伤及心脏，送301医院抢救无效，于一小时后死亡。</td>
</tr><tr>
<td>116，杨汝霆，男，41，北京市，北京第一机床电器厂行政科科长</td>
<td>6.3.晚11点多，从家里出去，想看看外面的情况，在复兴门立交桥附近两处中弹，一射入肺部，一射断胳膊；入肺部的子弹于背部出口处炸开，死于北京儿童医院。骨灰安葬于北京温泉公墓。</td>
</tr><tr>
<td>117，王庆增，男，34，北京市，北京天坛粮管所司机</td>
<td>6.3.晚11点，从家(珠市口附近)骑车去单位(永定门方向)检查车辆是否安全，行至橡胶八厂对面马路时，被从南边开来的戒严部队射中左胃部，送天坛医院，不久死亡，骨灰安葬于门头沟。</td>
</tr><tr>
<td>118，周德平，男，20多，湖北天门市农村，清华大学无线电电子学系(现电子工程系)硕士研究生</td>
<td>6.3.晚，周独自外出，遇戒严部队扫射，头部中弹，死于同仁医院，7月6日由校方确认，8日遗体送八宝山火化。</td>
</tr><tr>
<td>119，王文明，男，35，北京市，北京前进鞋厂模具钳工</td>
<td>6.3.晚，王听到外面有枪声，与一邻居一起去珠市口方向观察动向，约12点，戒严部队自南向北行进扫射，王左肋中弹，子弹从右肋穿出，送友谊医院抢救，因肠子打烂，只接上2米多，其余无法接上，手术后发高烧，于4日晚9点多死亡。单位按正常死亡处理。骨灰葬在文安老家。</td>
</tr><tr>
<td>120，尹敬，男，36，北京市，冶金部职员（最高人民检查院副检察长之婿）</td>
<td>6.3.晚，于木樨地沿街22楼8层家中，当尹进厨房开灯时被戒严部队的子弹击中头部死亡，葬于八宝山人民公墓2区17排12号。</td>
</tr><tr>
<td>121，杨子平，男，26，北京市，北京第一机床厂工人</td>
<td>6.6.晚，安基、杨子明、杨子平、杨月梅（杨氏三兄妹）、王争强、王争胜（王氏两兄弟）、张学梅，共七人去复兴门，至礼士路十字路口，遭埋伏在电缆沟里的戒严部队密集扫射的伏击。安基当场死亡，杨子平、王争胜送复兴医院抢救无效死亡。王争强、杨子明重伤。</td>
</tr><tr>
<td>122，赵龙，男，21，北京市，高中毕业生</td>
<td>6.4.凌晨1点多离家，在西单路口，左胸中三弹，当即死亡，群众把尸体送至第二人民医院，家人于6.7日找到尸体，骨灰已与其母苏冰娴同葬于八达岭人民公墓。</td>
</tr><tr>
<td>123，雷广泰，男，33，北京怀柔县农村，北京怀柔县庙城乡西台上村农民、大队汽车队司机</td>
<td>6月，汽车队承担北京建国门海关大楼的运土方工程，3日晚10点多，雷与另二位司机去天安门观看民主女神像，约11点多，三人走到南池子旁，蹲在红墙下吸烟，正遇上戒严部队从东长安街一路扫射过来，三人刚站起身，雷即中弹倒下。当时中弹的人很多，雷中弹后随即由市民用三轮车拉走，其他二人被冲散，从此再也没有找到雷的下落。</td>
</tr><tr>
<td>124，钟俊军，男，22，北京市农村，北京农学院三年级学生</td>
<td>6.3.晚，与四位同学一起骑车去天安门，在途中右胸中弹，送急救中心不治身亡。</td>
</tr><tr>
<td>125，高原，男，24，北京市，北京市石景山医院中医科医生</td>
<td>6.3.夜11点多，在复兴门地铁站附近，前胸中两颗炸子，穿透后背，留下碗大伤口。当时被一老人用平板三轮车送往市儿童医院，入院时尚未死亡，因抢救不及时失血过多而身亡。6月9日尸体被转移到复兴医院，置于该院自行车棚尸体堆中，11日家人才找到遗体，已变形。后由石景山医院开具误伤证明，举行追悼会，并由该院购置八宝山墓地安葬。。</td>
</tr><tr>
<td>126，倪世联，男，24，山东省，中国石化总公司北京设计院设备室助理工程师</td>
<td>6.3.晚11时许，倪与其他6位青年骑车自地质医院出发，约11时至西单，倪胸腹部中弹，民众送宣武医院抢救，不治身亡。90年单位出具「非正常死亡」的死亡证明书，并作如下政治结论：「违反戒严令，后果自负」，一次性发给10个月的基本工资835元。当时与倪一起受伤者有曹长韧、王建伟两人。</td>
</tr><tr>
<td>127，邝敏，男，27，北京市，北京工业大学毕业生、北京叉车总厂工程师</td>
<td>6.3.夜，于木樨地中弹，子弹从右腰后部射入从右腹前穿出，送到医院后立即死亡。骨灰一直存放在家中。</td>
</tr><tr>
<td>128，殷顺清，男，30，北京市，北京房修一公司工人</td>
<td>6.3.晚7点多，骑自行车离家，10点多有人看见他在电报大楼附近，夜间，有人在六部口看见他头部中弹，立即死亡，至今未找到尸体。</td>
</tr><tr>
<td>129，何世泰，男，31，北京市，北京第一机床厂铸工车间工人</td>
<td>6.3.夜，何下小夜班后原拟去蒲黄榆岳父家，6.4凌晨，何行至南河沿南口，遇军队射击，何太阳穴中弹，中弹后还扶着自行车，后被群众送往协和医院，但未至医院即已死亡，两天后家属从医院找回尸体，后一知情者送回死者自行车。</td>
</tr><tr>
<td>130，周玉珍，女，36，北京市，国家计委体改司（政研室）科级机要秘书（转业军人）</td>
<td>6.3.夜晚，在家中听到枪声，与丈夫、孩子到窗口观看，戒严部队向楼上扫射，丈夫拉着孩子卧倒较快，未受伤；周被子弹击中头部，当场死亡。孩子亲眼看到母亲中弹身亡，受到强烈刺激。周的尸体火化后葬于八宝山回民公墓（周非回民）。</td>
</tr><tr>
<td>131，轧爱国，男，22，北京市，待业</td>
<td>6.3.22时，与同伴去公主坟途中，被戒严部队的子弹击中头部，死于301医院。医院诊断为「脑干贯通伤」。6月5日家属寻找到尸体，火化后葬于天津老家。</td>
</tr><tr>
<td>132，宋宝生，男，39，北京市，北京玻璃四厂职员，生前为北京市人民代表，市青年突击手，劳动模范</td>
<td>6.3.晚，在木樨地家中休息，听到枪声起来关窗户，被子弹击中胃部，造成胃穿孔，送医院抢救，因失血过多死亡。当时军队派人监视不准抢救，死亡证明不准开枪伤，只准注明失血过多。葬于八宝山。事后其父状告西城区公安局和中南海李鹏，中南海信访室收下信函后杳无音信。</td>
</tr><tr>
<td>133，陈森林，男，36，北京市，北京707厂工人</td>
<td>6.3.晚，陈骑车去西单，被戒严部队的子弹击中心口，死于北京市第二医院。出事后家属找遍了北京市各大医院，毫无结果；后通过市卫生局查找无名尸，一个月后才找到，尸体已腐烂，家属通过死者的衣服及死者生前胃切除后留下的伤疤才确认。火化后葬于江苏老家。</td>
</tr><tr>
<td>134，石海文，男，20多，不详，沈阳药学院应届毕业研究生（在北京营养源研究所代培）</td>
<td>6.4.颈部中弹死亡，死于积水潭医院。</td>
</tr><tr>
<td>135，杨撼雷，男，19，北京市，北京流芳宾馆厨师班学员</td>
<td>6.3.晚，与同学一起去换月票，后一起去北京饭店。4日凌晨，在南池子南口脾部中弹，送协和医院，因失血过多死亡，三、四天后，同行的同学通知了家属，从协和医院领回尸体火化，骨灰存放在家。</td>
</tr><tr>
<td>136，ＸＸＸ，男，不详，河北省，原开滦矿工报记者，89年借调至新华社当记者</td>
<td>6.4.遇难。</td>
</tr><tr>
<td>137，王耀和，男，40多，不详，北京朝外某饭庄厨师</td>
<td>6.4.遇难。</td>
</tr><tr>
<td>138，彭军，男，30，北京市，新疆生产建设兵团驻京办事处工作人员</td>
<td>6.5.早上6点40分左右，彭从朝阳区东大桥的住所出门，准备去买早点，途中遇戒严部队扫射，身中两弹，一处在脚踝处，另一处从右后胸射入，左前胸爆出，经送朝阳医院抢救无效身亡。</td>
</tr><tr>
<td>139，刘强，男，不详，河北省，河北省河北师范大学学生</td>
<td>89年来京参加学运，.6.4后一直未归，生不见人，死不见尸。</td>
</tr><tr>
<td>140，苏欣，女，29，北京市，有色金属进出口总公司职员</td>
<td>6.3.晚，苏从阜外大街母亲家回自己家里，夜间不放心母亲一人在家，又返回阜外大街，路经南礼士路南口被阻，4日凌晨戒严部队用冲锋枪扫射路边人群，同时有五人中弹倒地，苏欣胸部中弹，送儿童医院，又转人民医院，不治身亡。苏为独生女，已婚，无子女。</td>
</tr><tr>
<td>141，包修东，男，41，北京市，鼓楼东大街某印刷厂厂长</td>
<td>6.3.夜，在北京饭店旁欧美同学会路口中弹，送协和医院抢救，不治身亡。骨灰安葬于八宝山人民公墓。</td>
</tr><tr>
<td>142，赵德江，男，27，北京市，全国总工会司机，复员军人。</td>
<td>6.4.凌晨，在总工会大门口，有一老人遭枪击（后死亡），赵上前抢救，被戒严部队击中头部，送空军医院抢救，未至医院即死亡。</td>
</tr><tr>
<td>143，ＸＸＸ，男，不详，北京市，不详</td>
<td>6.4.凌晨，在总工会大门口，遭枪击死亡。赵德江上前抢救，同遭枪杀。（目击者多人提供）。</td>
</tr><tr>
<td>144，曹ＸＸ，男，21，北京市，北京测绘研究院设计所绘图员</td>
<td>6.3.晚离家，在西单附近中弹，送邮电医院，不治身亡。6日接通知去邮电医院领取尸体，遗体满是苍蝇，伤口已成肉泥，7日送八宝山火化，未留骨灰。</td>
</tr><tr>
<td>145，崔林峰，男，29，北京市，北京市三里河服装厂工人，西城分局联防队员</td>
<td>6.3.晚7点，由家去厂里上班，本应夜2点下班回家。但家人等了两天未归，后去厂里寻找，得知崔6.3晚去厂里后，共约三人一起骑自行车去了长安街方向，后一人往东，一人往南，崔一人往西，随后听到枪声，当天崔未归，其余两人均安全回家。事后家人找遍了很多医院，未见崔的下落。至今活不见人，死不见尸。</td>
</tr><tr>
<td>146，王芳，男，50多，北京市，北京煤矿机械厂职工</td>
<td>6.3.晚，于木樨地头部中弹，由王军等人抬上卡车，在送往海军医院途中死亡。</td>
</tr><tr>
<td>147，刘京生，男，40多，北京市，铁路系统职工</td>
<td>6.4.于北京羊坊店附近遇难。</td>
</tr><tr>
<td>148，张佳梅，女，61，北京市，原化工部行政管理局人事处处长，刚离休不久</td>
<td>6.3.晚，在和平里自己家中，听到外面发生骚乱，从沿街走廊探出窗外观望，不幸中弹，子弹穿透心脏，当即死于家中。</td>
</tr><tr>
<td>149，ＸＸＸ，男，不详，江苏省无锡市，无锡市江南大学机电系学生</td>
<td>在89天安门运动期间，与几位同学一起去北京向天安门绝食学生送募集的捐款，始终没有回校，活不见人，死不见尸。（由该校多位教员提供，该生的失踪在该校广为人知）。</td>
</tr><tr>
<td>150，ＸＸＸ，男，约20，不详，北京301医院正北门哨兵（武警士兵）</td>
<td>6.3.夜，11点左右，戒严部队向木樨地方向行进，人群向后退却，该门卫见情况危急，随即打开301医院大门，让人群进大院躲避，被戒严部队的子弹击中脑部和上胸部，当即死亡。（众多目击者提供）。</td>
</tr><tr>
<td>151，ＸＸＸ，男，不详，不详，不详</td>
<td>6.4.白天，先是被一辆军车撞倒，随后被一辆装甲车碾成肉泥。从尸体仅可辨认此人穿花衬衫，剩下一只手的残余。尸体一直留到5日下午才被人用铁锹铲入塑料袋运走。（众多目击者提供）。</td>
</tr><tr>
<td>152，ＸＸＸ，男，不详，北京市，人民大会堂炊事员</td>
<td>6.4.从前门门框胡同家里去人民大会堂途中遇难，死后赔1万元。</td>
</tr><tr>
<td>153，ＸＸＸ，女，老年，四川万县农村，四川万县进京保姆（在木樨地22楼某副部长家）</td>
<td>6.3.夜，于木樨地22楼14层阳台探身向下观望时，腹部中弹，当即死亡。同一时间，同楼八层居民尹敬在室内开灯时头部中弹身亡（参见0120号）。（死者儿子在八宝山火葬场向遇难亲属苏冰娴提供）。</td>
</tr><tr>
<td>154，李春，男，20，北京市，西单民族饭店厨师</td>
<td>6.3.夜，李下夜班后，推着自行车行走至工会大楼南面第二座楼前（木樨地附近）中弹，子弹横穿肋部，送广安门外医院，抢救无效死亡。</td>
</tr><tr>
<td>155，ＸＸＸ，女，31，北京市，北京某厂职工</td>
<td>6.5.白天，下夜班过马路时，在五棵松附近被高速行进的戒严部队装甲车撞死。死者为北京武警部队一班长的嫂子。死后经交涉，承认为「误伤」，并给予少量抚恤。</td>
</tr><tr>
<td>156，杜光学，男，24，北京市，人民卫生出版社印刷厂工人</td>
<td>6.3.晚5点半，与朋友一起骑车去长安街，至新华门附近，听到枪声大作，戒严部队从西往东进发，他们转身往回骑，没走几米，杜太阳穴中弹，连人带车倒下，一条腿还跨在自行车上，时间约12点左右。当时有一辆在场的公共汽车，将6位中弹者送往协和医院，在车上就有4人死亡，包括杜，其他两位伤势严重，生死不详。杜亲属6.4清晨赶到协和医院，因尸体太多，无法辨认。5日又去，发现杜尸体，编号为30号。</td>
</tr><tr>
<td>157，孙晓峰，男，不详，不详，北京体育大学学生</td>
<td>6.4.遇难。</td>
</tr><tr>
<td>158，赵天仇，男，47，北京市，北京机电研究院维修工</td>
<td>6.4.身中4枪，3枪在胸，1枪在腹。亲属于协和医院发现尸体。。</td>
</tr><tr>
<td>159，胡星云，男，不详，四川省，北京某大学85级学生</td>
<td>失踪十年，生不见人，死不见尸。</td>
</tr><tr>
<td>160，翟顺，男，30，北京市，不详</td>
<td>6.4.凌晨，在木欐地被警车碾死，此事当时以车祸处理，其母因此患精神分裂症。</td>
</tr><tr>
<td>161，陈子旗，男，31，北京市，首都汽车公司339路公交车司机</td>
<td>6.4.凌晨，陈为头班车司机，因3日接到公司停车通知，离家去六里桥上班，三天未归，家人遍找北京各大医院，于6.6日在市儿童医院凭其自行车钥匙及衣着辨认领回尸体。当时头部已变形，胸部中弹已血肉模糊。所在单位以「正常死亡」处理，发给800元人民币抚恤金，就此了断；但留下话，如今后政府另有说法，再按规定办理。骨灰安葬于河北良乡阎村公墓。</td>
</tr><tr>
<td>162，齐力，男，22，北京市，中央戏剧学院88级舞美设计专业学生</td>
<td>曾参加天安门学生运动。64后受审查，迫于压力，上吊自杀。</td>
</tr><tr>
<td>163，韦武民，女，不详，武汉市，中央戏剧学院戏文系83级学生</td>
<td>89学运时曾参加过天安门绝食运动，6.4镇压后迎着火车头走去，撞车自杀。</td>
</tr><tr>
<td>164，朱ＸＸ，男，不详，江西省，原北京师范学院物理系研究生</td>
<td>6.4.遇难。</td>
</tr><tr>
<td>165，戴金平，男，27，湖北省农村，84年湖北农业大学毕业，86年考入北京农业大学读硕士研究生</td>
<td>6.3.晚11时左右，遇难于天安门广场毛主席纪念堂附近。亲属于6月10日在友谊医院太平间见到遗体，校方给了两千元安置费。</td>
</tr><tr>
<td>166，张福元，男，66，北京市，解放军302医院退休工人。</td>
<td>张遇难前在冶金部设计院大楼建筑工地（军博对面）值班。6月3日晚下班后，去北京长话大楼东墙外一条胡同里的亲戚家串门。很晚的时候，外面释放瓦斯弹，屋里很呛人，因这家离马路（西长安街）很近，大家就跑到门口去看个究竟，刚到胡同口，军队朝胡同口的人群开枪扫射，张的右腰部中弹。当时，张与人群一起往胡同里逃，军队还不停地往胡同里开枪。张刚逃进亲戚家的院门就倒下了。救护车把他送进积水潭医院后立即死亡。4日张的子女领回遗体。</td>
</tr><tr>
<td>167，李浩成，男，20，天津市武清区农村，天津师范大学中文系汉文学专业87届本科生，团支部书记</td>
<td>89学运期间，李随该校师生前往北京声援。据目击者提供的情况，6.4.晨戒严部队进入天安门广场时，李正在广场东南角拍摄现场照片，遭戒严部队射击连中两弹，致命一弹位于肝部。送同仁医院抢救无效死亡。6月7日医院根据学生证号通知了天津师大，校方及死者亲属认领尸体后就地于八宝山火化。校方给予了李亲属两千元人民币作为补偿，同时销毁了李的学生档案。</td>
</tr><tr>
<td>168，陆小军，男，39，北京市，原中央芭蕾舞团职工</td>
<td>6.4.时因在北纬路至虎坊桥一带（家门口）与戒严部队军车相遇并围观，6月30日被控以流氓、抢劫罪被捕入狱，判13年徒刑。被关押于一监、二监等多处监狱，曾两次保外就医，2001年5月4日死亡。</td>
</tr><tr>
<td>169，王东喜，男，不详，上海市，不详</td>
<td>已找到王父母姓名与地址，但不愿与外界联系。</td>
</tr><tr>
<td>170，郭春为，男，23，北京市，北京市六一中学教师，89年正在北京市教育学院石景山分院生物系进修，任班长</td>
<td>6.3.晚8点，郭到木墀地找同学，迟迟不归，其家属至复兴医院查询，见到郭春为的名字被列于该院张贴的死亡者名单中，又在自行车棚里找到郭的尸体，同时棚内堆放着几十具尸体，与郭头对头的是一位50多岁的妇女。郭左肾部中弹，腿上同时中一弹，据院方称，郭送至该院时尚有呼吸，但因伤员太多抢救不及而死亡。郭死后，六一中学给了少量丧葬费，其骨灰现停放在北京西郊万安公墓骨灰亭。</td>
</tr><tr>
<td>171，韩俊友，男，20-25，北京市，北京市第一皮鞋厂（今北京百花集团有限公司）原为车问工人，后调保卫科任门卫</td>
<td>6.3.夜，于木墀地头部中弹，送复兴医院死亡，家属于该院自行车棚找到其尸体。</td>
</tr><tr>
<td>172，李铁钢，男，22，北京市，首钢动力厂供水车问青工（刚离职数日，拟当驾驶员）</td>
<td>6.3.晚，离家，于复兴门附近遭戒严部队射击，肩部和肝部中数弹，被民众送往复兴医院抢救，6月4日晚，家人从医院找到尸体，火化后骨灰存放于八宝山公墓骨灰堂，三年后安葬于西山某处山包上。</td>
</tr><tr>
<td>173，王鹰，男，30多，北京市，北京变压器厂职工</td>
<td>6.4.期间遇难，待查。</td>
</tr><tr>
<td>174，蔡ＸＸ，男，不详，外地，商务印书馆职工</td>
<td>6.4.中失踪，活不见人，死不见尸。</td>
</tr><tr>
<td>175，王俊京，男，30多，北京市，北京市仪表局下属厂技术员，厂址在白塔寺附近</td>
<td>6.4.上午10点左右，在上班途中遭戒严部队枪击，肾部中炸子，伤及心脏。送协和医院抢救，不治身亡。当亲属寻找到遗体时，该院已堆放有40多具尸体。</td>
</tr><tr>
<td>176，ＸＸＸ，男，20以下，北京市，不详</td>
<td>6.3.夜，木裤地以东，复外大街三里河路口遇难。胸口中弹，送儿童医院抢救无效死亡。目击者称：死者穿绿棕色短裤，白色短袖T恤衫，光脚穿凉鞋，身上无证件，惟手腕戴一手表。死者胸口一直冒血。期间，目击者看到儿童医院停放13-14具尸体，但这一死者4、5天后仍无人认领，据院方说，如再无人认领，将由防疫站统一处理。 。</td>
</tr><tr>
<td>177，胡ＸＸ，男，不详，湖北省，北京某大学学生</td>
<td>6.4.半个月后家里才知道儿子遇难，因家庭贫困，也因慑于政府高压，未敢前去北京认领尸体，两个月后才托亲戚去北京料理后事。</td>
</tr><tr>
<td>178，夏之蕾，女，22，不详，南方某大学学生</td>
<td>6.4.凌晨，夏之蕾随广场学生外撒，行至东单时，夏踉跄倒地，说了句「快！快找个地方息息。我好像中弹了。」她捂着胸脯，鲜血从她的指缝中涌出。几位女同学脱下她的衬衣，发现左乳下中了一枪，血仍在往外涌。几分钟后身亡。</td>
</tr><tr>
<td>179，林涛，男，24，北京市，81年参军，任某陆军侦察兵，84年复员到北京昆仑饭店工作，89年转另一公司</td>
<td>6月3日晚饭后，准备好第二天午饭，听说戒严部队进城了，骑车离家而去，以后再没回家。属「六四」失踪者。</td>
</tr><tr>
<td>180，李ＸＸ，男，约30，北京市，北京市市容总队司机</td>
<td>6月3日夜，李在人民大会堂西侧绒线胡同口市容总队二层小楼值班，4日凌晨，被向该小楼扫射的戒严部队子弹击中头部，倒在一同事的怀里，立即死去。</td>
</tr><tr>
<td>181，张建，男，17，北京市，宣武区第95中学高中二年级学生</td>
<td>6月4日，张离家去前门三叔家看望叔叔、婶婶，中途遭戒严部队枪击，子弹击中心脏。被民众拉到协和医院抢救，但已死亡。家人最终在协和医院查到其死亡后的照片，才找到了张建的尸体。家人当时共查找了三本死难者相册，每本约17-18人。第二天送八宝山火葬场火化。骨灰运往河北泊头市张庄村与父母合葬。</td>
</tr><tr>
<td>182，李评，男，23，辽宁丹东市，北京师范学院政教系86级学生</td>
<td>6.3.晚，在木墀地桥西军事博物馆附近，左面颊中弹，送复兴医院抢救无效，于4日凌晨身亡。遗体先存放于复兴医院太平间，后由学校转到师院附近的小医院，李两兄长来京处理后事并取回骨灰，校方发给家属两千元人民币慰问金。</td>
</tr><tr>
<td>183，马健武，男，不详，河北省，北京中医学院学生</td>
<td>待查。</td>
</tr><tr>
<td>184，黄新华，男，25，湖南省邵东县农村，83年考入清华大学高等物理系，88年考入中科院研究生班</td>
<td>6.4.死于天安门广场，死后在京火化，骨灰由其兄黄林强带回湖南邵东老家安葬，政府给了1200元钱，说是误伤。</td>
</tr><tr>
<td>185，陶茂仙，男，不详，北京市，北京811厂职工</td>
<td>6.4中，陶在抢救伤员时后腰部中弹死亡，死后所在单位作出「非正常死亡」的结论。</td>
</tr><tr>
<td>186，邹作武，男，不详，北京市，不详</td>
<td>6.4中受重伤，锯腿，半年后死亡。</td>
</tr><tr>
<td>187，白京川，男，21，北京市东城区，北京联合大学家电维修专业</td>
<td>6.4日枪击致死，死于同仁医院儿科。</td>
</tr><tr>
<td>188，姜嘉兴，男，，北京市，不详</td>
<td>不详。</td>
</tr><tr>
<td>189，金颖，男，18，北京市，不详</td>
<td>6.5日晚，与同事一外出，再也没有回家。家人和亲戚去各个医院寻找，未能找到。一周后，亲友于西城区二龙路医院找到金的尸体，家人赶去医院得到确认。据院方停尸房看门人介绍，金看上去是一个小孩。6月6日被一男一女用三轮车送来医院，在金的身上放了很多小百花。他们说，是在木樨地花坛里，地上流有很多血，很可怜，人已经死了。金的家人说，金身中三弹，臀部和×部各中一弹，最要害的是*部中的一弹。家人于八宝山火葬场火化，并于骨灰堂存放三年，听家人说，后来把骨灰撒在了北海公园的湖里。以后，家人每次去北海公园，便是去看孩子。</td>
</tr><tr>
<td>190，梁建波，男，18，北京市，北京化工学校学生</td>
<td>6月3日下午去警校，找他姐姐，但警校不让进人，也不让里面的人出。他离开警校往回走，但始终没有回家，十几天后家人在积水潭医院找到他的遗体，据枪救记录上记载，他胸部及腿部中弹，先在儿童医院抢救，后转到积水潭医院，因肺部贯通伤死亡。骨灰在颐和园附近埋葬。</td>
</tr><tr>
<td>191，王永贞，女，，辽宁省，中国农业大学86级学员</td>
<td>89年遇难后骨灰送入浑河。</td>
</tr><tr>
<td>192，张杰（？），男，16，北京市，</td>
<td>6月3日，他在天安门（姐姐为天安门管理人员）观看，4点凌晨5时许，他从金水桥上骑车准备回家，迎面碰上一群杀红了眼的军人，不由分说，举起棍子就朝头上打。天安门上有不少热人大喊自己人，但他们全然不顾，将张杰击倒后拖入劳动人民文化宫，可怜的孩子一个多小时才死去。</td>
</tr><tr>
<td>193，×××，男，15左右，北京市，初中学生</td>
<td>当时住在“青河农场驻京办事处”，6月底（29日？），这个孩子正在完成老师布置的作业。下午下课后，与几个同学走在玉泉营环岛附近，碰上一个买西瓜的瓜农。孩子好动，用手拍拍西瓜，结果掉下车一个。工农大呼“干嘛，抢西瓜啊？”此时，恰逢驾着机枪的戒严部队巡逻车经过，立即开枪，孩子们乱跑，但这个孩子却被子弹击中，旋即死亡。</td>
</tr><tr>
<td>194，×××，男，35、6岁，北京市，北京市少年犯管教所干部</td>
<td>6月3日晚，出去看看动静，在交道口附近被子弹击中死亡。当时家住安定门安德路地兴居一带。</td>
</tr><tr>
<td>195，刘永良，男，26岁，北京市，北京市内燃机厂工人</td>
<td>6月3日晚，干部中弹，死于北京医院。</td>
</tr><tr>
<td>196，刘忠，男，19岁，北京市，北京政法大学政治系学生</td>
<td>6月3日死。</td>
</tr><tr>
<td>197，富尔克，男，19岁，北京市，中央民族大学88级预备生</td>
<td>死于6.4。</td>
</tr><tr>
<td>198，顾丽芬，女，19岁，北京市，北京师范大学教育系88级学生</td>
<td>死于6.4。</td>
</tr><tr>
<td>199，马凤龙，男，27岁，北京市，工人</td>
<td>死于6.4。</td>
</tr><tr>
<td>200，马骏飞，男，不详，北京市，马凤龙之子</td>
<td>死于6.4。</td>
</tr><tr>
<td>201，许瑞和，男，不祥，北京市，复员军人</td>
<td>死于6.4。</td>
</tr><tr>
<td>202，陈永廷，男，21岁，重庆市，中央民族学院（现中央民族大学），经济系政经专业。</td>
<td>89，6.3日晚，在天安门外围被打死。该学生系酉阳土家苗族自治县土家族。</td>
</tr>
<tr>
<td colspan=7><br>
    <p>★★★ 丁子霖教授2006年6月备注：此186位死难者名单中，有20位尚不知姓名或有姓无名，这里有两种情况：一为亲属暂时不愿公布死者姓名；二为暂时尚未找到死者亲属的下落，属于这一类者，至少要有两位目击者证明。至于大量有所传闻而无可靠目击者证明之死者概不收集。
    </p></br>
</tr>
</tbody>
</table>
</div>
</section>
