<section class="no-padding" id="portfolio">
  <img src="img/header.jpg" alt="" style="display:none">
  <div class="container-fluid">
    <hr>
    <div class="row">
      <a href="#2" class="portfolio-box">
        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <p class="caption">
              <span>1989年4月22日，二十万学生和群众在天安门广场悼念胡耀邦，一名学生展示他手中的标语。</span>
            </p>
            <div class="credit">
              Catherine Henriette/法新社/盖帝图像
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <a href="#3" class="portfolio-box">
          <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>十余万学生和大批记者游行，纪念「五四」七十周年，促进改革及争取新闻自由。</span>
                </p>
                <div class="credit">
                    美联社图片/Sadayuki Mikami（贞行三上，音译）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#4" class="portfolio-box">
        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <p class="caption">
                <span>1989年5月18日，北京大学的学生在静坐抗议（此时部分人已开始无限期绝食）。</span>
            </p>
            <div class="credit">
                Catherine Henriette/法新社/盖帝图像
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <a href="#5" class="portfolio-box">
          <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月17日，一名绝食的北大学生正在接受急救，这是绝食的第四日。</span>
                </p>
                <div class="credit">
                    美联社图片/Sadayuki Mikami（贞行三上，音译）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#6" class="portfolio-box">
          <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月17日，百万干部群众上街游行支持民主，一辆卡车在人群中。</span>
                </p>
                <div class="credit">
                    美联社图片/Sadayuki Mikami（贞行三上，音译）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#7" class="portfolio-box">
          <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月19日，支持绝食者的学生在去往天安门的卡车上呼喊。</span>
                </p>
                <div class="credit">
                    美联社图片/Sadayuki Mikami（贞行三上，音译）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#8" class="portfolio-box">
          <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月18日，群众向赶到天安门支持绝食学生的队伍欢呼。</span>
                </p>
                <div class="credit">
                    美联社图片/Sadayuki Mikami（贞行三上，音译）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#9" class="portfolio-box">
          <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月19日，绝食的第六天，北京警察骑自行车游行，向绝食的大学生表示支持。</span>
                </p>
                <div class="credit">
                    美联社图片/Sadayuki Mikami（贞行三上，音译）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#10" class="portfolio-box">
          <img src="img/portfolio/10.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月20日，国务院总理李鹏宣布戒严。示威者逼停了一辆满载士兵的军车。</span>
                </p>
                <div class="credit">
                    Catherine Henriette/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#11" class="portfolio-box">
          <img src="img/portfolio/11.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月20日，天安门西八公里处，老百姓逼停了军车，一位母亲让小孩和解放军士兵交流。</span>
                </p>
                <div class="credit">
                    美联社图片/Sadayuki Mikami（贞行三上，音译）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#12" class="portfolio-box">
          <img src="img/portfolio/12.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月22日，军用直升机散发传单，要求抗议者尽快离开。</span>
                </p>
                <div class="credit">
                    路透社/Shunsuke Akatsuka
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#13" class="portfolio-box">
          <img src="img/portfolio/13.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月23日，工人在修复被油漆污染的毛泽东像。</span>
                </p>
                <div class="credit">
                    路透社/Ed Nachtrieb
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#14" class="portfolio-box">
          <img src="img/portfolio/14.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月28日，北京大学的学生在听取组织者讲述下一步的安排。他们已经占领天安门两周了。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#15" class="portfolio-box">
        <img src="img/portfolio/15.jpg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <p class="caption">
              <span>1989年5月30日，<span class="visible-lg-inline">中央美术学院雕塑系、北京电影学院、中央戏剧学院、中央音乐学院、中国音乐学院、中央工艺美术学院、北京舞蹈学院等</span>八所艺术院校的共二十多位学生在人民英雄纪念碑对面竖起十米高的民主女神像，并宣读《民主之神宣言》：</span>
              <blockquote cite="" class="caption">
                <p class="visible-lg">亲爱的同学们、战友们、同胞们：</p>
                <p class="visible-lg">今天是在人民的广场, 高耸起一尊人民的神像, 她就是「民主之神」, 我们把她奉献给绝食团的勇士们, 奉献给广场上的战友们, 奉献给全国百万大学生们, 奉献给全北京、全中国、全世界支援我们这之民主斗争的人民……</p>
                <p>久违了, 民主之神。七十年前, 我们的前辈曾高高呼唤过你的名字。</p>
                <p>为了你, 难道我们还要等七十年吗?</p>　
                <p class="visible-lg-inline-block">民主之神, 一切专制压迫下人民的渴望。民主之神, 已是广场大学生和亿万人民民主的象征。民主之神, 你是挽救中华民族的希望。民主之神, 你是一九八九年中国民主潮的灵魂。今天你庄严地站在广场上, 向全世界宣告: 中华民族民主运动的大崛起已开始了一个新纪元。……</p>
                <p class="visible-lg-inline">石膏塑成的民主神像，虽然不能永久保存，我们坚信，黑暗就会过去，曙光必定来临。……我们坚信, 真正民主到来之日, 我们一定会再来广场, 树立起一座雄伟、高大、永远的民主之神像。这一天会到来的。中国人把民主之神永远挂在我们每个人的心中。</p>
              </blockquote>
            </p>
            <div class="credit">
                Catherine Henriette/法新社/盖帝图像
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <a href="#16" class="portfolio-box">
          <img src="img/portfolio/16.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月30日，一位身着便衣的公安领导告诉在北京市公安局门口抗议的学生他们的行为违反了戒严条令。</span>
                </p>
                <div class="credit">
                    美联社图片/Mark Avery（马克·埃弗里）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#17" class="portfolio-box">
          <img src="img/portfolio/17.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月30日，民主女神像的拼装接近尾声。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#18" class="portfolio-box">
          <img src="img/portfolio/18.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月2日，群众围观学生在报社门口焚烧报纸，抗议北京日报污蔑学生。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#19" class="portfolio-box">
          <img src="img/portfolio/19.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年5月31日，一位年长的女性在天安门跟绝食的学生讨论。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#20" class="portfolio-box">
          <img src="img/portfolio/20.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月3日，学生向解放军士兵喊话。</span>
                </p>
                <div class="credit">
                    Catherine Henriette/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#21" class="portfolio-box">
          <img src="img/portfolio/21.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月3日，人民大会堂门口，群众试图阻止士兵带走一名年轻女子。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#22" class="portfolio-box">
          <img src="img/portfolio/22.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月3日，抗议者手拉手阻止人群追赶从人民大会堂门口撤走的士兵。在这之前抗议者遭到催泪弹和警棍攻击，人们因此而愤怒。背景中的人群站在用作路障的公交车上。</span>
                </p>
                <div class="credit">
                    美联社图片/Mark Avery（马克·埃弗里）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#23" class="portfolio-box">
          <img src="img/portfolio/23.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月3日，士兵和抗议的人群推挤。</span>
                </p>
                <div class="credit">
                    Catherine Henriette/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#24" class="portfolio-box">
          <img src="img/portfolio/24.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月3日，人群聚集在路口，用公交车当路障阻止军队前进。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#25" class="portfolio-box">
          <img src="img/portfolio/25.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日，戒严部队的士兵跃过护栏。戒严部队接到命令于四日凌晨一时抵达天安门广场，六时完成全部清场任务。如遇阻拦，戒严部队可以采取各种自卫措施和一切手段予以排除。</span>
                </p>
                <div class="credit">
                    Catherine Henriette/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#26" class="portfolio-box">
          <img src="img/portfolio/26.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日，一辆被点燃的装甲车。</span>
                </p>
                <div class="credit">
                    Tommy Cheng/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#27" class="portfolio-box">
          <img src="img/portfolio/27.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日，被碾压的自行车和平民的尸体。</span>
                </p>
                <div class="credit">
                    美联社图片
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#28" class="portfolio-box">
          <img src="img/portfolio/28.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日，一位在冲突中受伤的女生被三轮车送走。</span>
                </p>
                <div class="credit">
                    Manuel Ceneta/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#29" class="portfolio-box">
          <img src="img/portfolio/29.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日，一辆军队装甲车的司机被学生打死。这辆车撞向了人群，撞伤多人，后来被学生点燃。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#30" class="portfolio-box">
          <img src="img/portfolio/30.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日，天安门广场，学生保护一位被抓住的坦克手，人们在追打他。</span>
                </p>
                <div class="credit">
                    路透社
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#31" class="portfolio-box">
          <img src="img/portfolio/31.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日凌晨，群众手持石块站在长安街附近戒严部队的装甲车上。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#32" class="portfolio-box">
          <img src="img/portfolio/32.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日，一位不知名的外国记者（右二）被群众照顾着从冲突中撤离。</span>
                </p>
                <div class="credit">
                    Tommy Cheng/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#33" class="portfolio-box">
          <img src="img/portfolio/33.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日，三轮车夫在路人的帮助下拼命蹬车将伤者送到医院。当日中午，军队再次开枪。</span>
                </p>
                <div class="credit">
                    美联社图片/刘香成
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#34" class="portfolio-box">
          <img src="img/portfolio/34.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月，一名男子被戒严部队士兵带走。</span>
                </p>
                <div class="credit">
                    Manuel Ceneta/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#35" class="portfolio-box">
          <img src="img/portfolio/35.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>（1/2）1989年6月5日，三名男子正在撤离，背景中一名孤零零的男子站在一队坦克面前。</span>
                </p>
                <div class="credit">
                    美联社图片/Terril Jones
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#36" class="portfolio-box">
          <img src="img/portfolio/36.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>（2/2）1989年6月5日，一名手提袋子的男子站在坦克车队面前。这是天安门事件的标志性图片之一。</span>
                </p>
                <div class="credit">
                    路透社/Arthur Tsang（曾兴华）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#37" class="portfolio-box">
          <img src="img/portfolio/37.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月5日，人群让出通道，让大巴上的外国游客看冲突中死者的尸体。</span>
                </p>
                <div class="credit">
                    美联社图片/Mark Avery（马克·埃弗里）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#38" class="portfolio-box">
          <img src="img/portfolio/38.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月5日，一卡车士兵驶过长安街。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#39" class="portfolio-box">
          <img src="img/portfolio/39.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月5日，坦克占住了使馆区附近的关键路口，路人被士兵驱赶。</span>
                </p>
                <div class="credit">
                    Catherine Henriette/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#40" class="portfolio-box">
          <img src="img/portfolio/40.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>住在天安门西面的北京居民展示打穿了他家窗户的子弹。</span>
                </p>
                <div class="credit">
                    Manuel Ceneta/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#41" class="portfolio-box">
          <img src="img/portfolio/41.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月5日，人们在长安街上向记者展示照片，他们说照片中的人是冲突中遇难的。</span>
                </p>
                <div class="credit">
                    美联社图片/Jeff Widener（杰夫·怀德纳）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#42" class="portfolio-box">
          <img src="img/portfolio/42.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月5日，北京东面，自行车上的一对年轻人躲在立交桥下。</span>
                </p>
                <div class="credit">
                    美联社图片/刘香成
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#43" class="portfolio-box">
          <img src="img/portfolio/43.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月4日，北京市民围观被抗议者烧毁的二十几辆装甲车。</span>
                </p>
                <div class="credit">
                    Manuel Ceneta/法新社/盖帝图像
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#44" class="portfolio-box">
          <img src="img/portfolio/44.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>1989年6月13日，人们骑车路过天安门旁边的坦克群。</span>
                </p>
                <div class="credit">
                    美联社图片/Sadayuki Mikami（贞行三上，音译）
                </div>
              </div>
          </div>
      </a>
    </div>
    <div class="row">
      <a href="#48" class="portfolio-box">
          <img src="img/portfolio/48.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <p class="caption">
                    <span>2012年5月28日，张先玲看着她死于六四事件中的小儿子的照片。张说，她的朋友轧伟林，另一名六四死难者的父亲，于2012年5月25日在绝望中自杀。</span>
                </p>
                <div class="credit">
                    美联社图片/Ng Han Guan（吴汉关）
                </div>
              </div>
          </div>
      </a>
    </div>
  </div>
</section>
