<section id="timeline">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="text-center">
          <h2 class="section-heading">八九学运大事记</h2>
        </div>
        <hr class="light">
        <p>4.15 中共前总书记胡耀邦心脏病发逝世。北京各大学出现悼念胡耀邦的大字报。</p>
        <p>4.17 三千名北京大学学生从校园步行至天安门广场，向全国人大常委会递交请愿信，提出重新评价胡耀邦等七项要求。</p>
        <p>4.19 数千名大学生深夜聚集在中南海的新华门外，高呼「李鹏出来」与学生对话，其后冲击新华门，并与军警冲突，有学生和记者受伤。</p>
        <p>4.20 北大校园出现大字报批评公安人员殴打学生，又指责新闻媒介歪曲报道。北大成立「团结学生会」。南京、上海、合肥、天津、武汉均有游行示威。</p>
        <p>4.22 中共在人民大会堂举行胡耀邦逝世追悼会，拒绝让学生参加。<mark>二十万学生和群众同时在天安门广场追悼</mark>。长沙和西安发生暴乱。</p>
        <p>4.23 中共党总书记赵紫阳赴朝鲜访问。<mark>北京学生发起无限期罢课</mark>。</p>
        <p>4.24 原定出版的上海《世界经济导报》，因刊载悼念胡耀邦的文章，遭上海市委禁止发行。</p>
        <p>4.25 政府首次提出与清华学生对话「流产」。罢课学生涌上街头宣传及募捐。</p>
        <p>4.26 《人民日报》发表题为「<a href="http://cpc.people.com.cn/GB/64184/64186/66681/4494004.html">必须旗帜鲜明地反对动乱</a>」社论。</p>
        <p>4.27 <mark>北京出现建国以来场面最大，历十四小时的群众游行，抗议《人民日报》社论</mark>。二十万学生参与，百余万群众夹道呐喊助威。国务院下午同意与学生对话。</p>
        <p>4.28 北京市高校学生自治联会成立，吾尔开希任主席。</p>
        <p>4.29 国务院发言人袁木和国家教委副主任何东昌跟全国学联邀请的学生对话，吾尔开希因被禁发言而退席。北高联不承认是次对话。</p>
        <p>4.30 《人民日报》一百五十名记者不满禁制《世界经济导报》，要求与该报高层对话。北京市委书记李锡铭和市长陈希同与学生对话。赵紫阳从平壤返京。</p>
        <p>5.1 北高联发表《告香港同胞书》，呼吁港人支援。</p>
        <p>5.2 北京学生组成「对话代表团」，分别向中共中央国务院和全国人大常委递交十二项要求，要求二十四小时内答覆，否则再上街游行。</p>
        <p>5.3 袁木拒绝与学生对话，称北高联为非法组织，并指学生背后有「黑手」。赵紫阳在「纪念五四运动七十周年大会」上表示要爱护青年，但强调必须创造安定的局面。</p>
        <p>5.4 <mark>十余万学生和大批记者游行，纪念「五四」七十周年及争取新闻自由</mark>。赵紫阳对亚洲发展银行成员发言，肯定学生的爱国热情，并指出民众不满在於法制不健全，腐败不能及时清除，政治透明度不够，提出要与学生和群众广泛对话。</p>
        <p>5.5 除北大和北师大外，其余北京高校普遍复课。</p>
        <p>5.9 逾千名新闻记者和编辑向全国记者协会请愿，要求与主管宣传的领导对话，讨论《世界经济导报》事件，扩大新闻自由，实行总编辑责任制。学生到场声援。</p>
        <p>5.13 <mark>二千多名学生在天安门广场开始绝食</mark>，争取与官方对话。</p>
        <p>5.14 统战部部长阎明复和教委主任李铁映与学生对话，但在是否撤回「四二六」社论和电视直播对话的问题上无法协议，不欢而散。公安局宣布翌日封闭广场，以迎接苏联领袖戈尔巴乔夫到访。</p>
        <p>5.15 <mark>六十万学生教师和知识分子到广场声援绝食学生</mark>，逼使迎接戈尔巴乔夫的仪式改在机场举行。二十名大专学生在香港新华社门外绝食声援北京学生。</p>
        <p>5.16 赵紫阳在会见戈尔巴乔夫时，透露党内机密，说国内最重要的问题，仍由邓小平掌舵。<mark>天安门广场绝食人数增至三千，超过四百人晕倒入医院</mark>。</p>
        <p>5.17 政治局常委会讨论在北京实施戒严。赵紫阳会后发表书面谈话，肯定学运，保证不会「秋后算帐」，呼吁同学停止绝食。绝食学生不支送院达二千人次。<mark>逾百万来自各界和党政机关的群众干部上街</mark>，高叫邓小平和李鹏下台。严家其、包遵信等知识分子发表宣言。</p>
        <p>5.18 四名政治局常委（赵紫阳、李鹏、乔石和胡启立）清晨往医院探望绝食不适的学生。李鹏随后与王丹、吾尔开希等十多名学生「对话」，结果不欢而散。深圳大学党员要求邓小平引退。</p>
        <p>5.19 赵紫阳、李鹏破晓前到广场探望学生。赵含泪说「来迟了」，并劝学生停止绝食。晚上九时，学生停止绝食转为静坐。三小时半后，李鹏在党政军大会上指学运为「动乱」；<mark>国家主席杨尚昆宣布派解放军入城</mark>，强调军队不是为对付学生。学生闻讯宣称再绝食。上千逾万群众上街堵截军队。</p>
        <p>5.20 <mark>李鹏宣布十时起在北部部分地区戒严</mark>。市长陈希同颁布三项戒严规定，禁制一切游行、集会、罢工、罢课、采访等活动。</p>
        <p>5.21 学生发表《告全国同胞书》呼吁全国人大常委会召开紧急会议；严家其、金观涛等发表《保卫宪法宣言》，要求撤销戒严令。逾百万香港市民上街游行支持北京学生，创下历史纪录。「全港市民声援爱国民主运动联合会」成立。</p>
        <p>5.22 吾尔开希擅自要求学生撤离广场而被罢免北高联主席职务；联会改为集体领导。在加拿大访问的人大委员长万里首次肯定学潮是爱国运动。</p>
        <p>5.23 近百万人违反北京戒严令冒雨上街游行。天安门城楼上的毛泽东画像被三名外地人弄污。万里突然缩短行程回国。</p>
        <p>5.24 五十七名全国人大常委联署要求召开常委紧急会议。</p>
        <p>5.25 万里回国后以健康理由暂住上海。<mark>北京再有百万人示威</mark>。</p>
        <p>5.26 中共中央顾问委员会表决支持李鹏及杨尚昆「五一九」的讲话。</p>
        <p>5.27 北高联、广场指挥部等建议五月三十日撤离广场。李先念、万里表示拥护「五一九」李鹏及杨尚昆的讲话。香港演艺界举行十二小时马拉松音乐会「<mark>民主歌声献中华</mark>」，三十万市民参加，筹得一千二百万元支持北京学生。</p>
        <p>5.28 「全球华人民主大游行」，香港近百五万群众上街游行，世界各地华人响应。</p>
        <p>5.29 北京及外地学生出现分歧。广场总指挥部四名常委集体辞职，学生将撤走日期延至六月二十日人大常委会议开幕之后。上海学生则号召空校行动。</p>
        <p>5.30 学生塑造的「<mark>民主女神像</mark>」在广场竖立。首都工人自治联会三名负责人被警察带走，近一千名工人及学生在市公安局前聚集要求放人。</p>
        <p>5.31 官方的天安门管理处指责学生竖立女神像。政府发动北京南郊近万农民游行支持李鹏。</p>
        <p>6.1 柴玲及封从德声称险遭同学绑架。</p>
        <p>6.2 天安门四君子侯德健、刘晓波、周舵、高新在广场绝食抗议戒严。港支联代表李卓人抵达北京送款支持学运。晚上，一辆军用吉普车在复兴门外撞倒四人，其中三人丧生。万余军人在北京饭店附近被群众学生堵截后撤走。</p>
        <p>6.3 军警在广场以西发射催泪弹、殴打和驱散人群，在六部口夺回失落在群众的枪械。晚间不断广播警告市民不得上街。深夜装甲车在通衢大道清理路障，为进城士兵和坦克开路；士兵枪击拦截的市民。</p>
        <p>6.4 <mark>血腥镇压</mark>。非官方人士估计死近三千人，袁木后来则说只有三百多人死，学生只占二十三人。成都也发生暴乱，据报军警枪杀三百余人。数以十万计香港市民参加黑色大静坐，抗议解放军屠杀市民学生。</p>
        <p>6.5 各国开始谴责中国政府，并自北京撤侨。香港「支联会」代表李卓人在机场被公安人员拘留。</p>
        <p>6.6 最后一批香港记者撤离北京；外国记者仍留京采访。</p>
        <p>6.8 李鹏探望及赞扬戒严部队。官方否认在广场开枪杀人。李卓人获释放返回香港。</p>
        <p>6.9 自五月十六日见戈尔巴乔夫后，邓小平首次公开露面，接见军人，发表讲话（《<a href="http://cpc.people.com.cn/GB/69112/69113/69684/69696/4950037.html">在接见首都戒严部队军以上干部时的讲话</a>》），指民运为一场「<mark>反社会主义的暴乱</mark>」。</p>
        <p>6.11 香港居民复旦大学学生姚勇战因参与学运在上海被捕。官方宣布通缉方励之夫妇，但他们目前已躲进美国大使馆。中国驻外使官首批变节；<mark>三藩市两名领使馆官员宣布不支持北京政权，寻求美国庇护</mark>。</p>
        <p>6.13 中国公安部通缉王丹、吾尔开希、柴玲等二十一名学生领袖。</p>
        <p>6.14 《人民日报》社长钱李仁被中央党校第一副校长高狄接替；总编辑则由军人邵华泽取代谭文瑞。</p>
        <p>6.20 中共不顾多国首脑呼吁，在上海处决三名被指焚毁火车的男子。</p>
        <p>6.23 中共召开<mark>十三届第四次中央全体会议</mark>，审议赵紫阳在「<a href="http://cpc.people.com.cn/GB/64162/64165/66002/4463025.html">反党反社会主义的动乱中所犯的错误</a>」。</p>
        <p>6.24 四中全会结束，<mark>赵紫阳被免除党内一切职务；选出上海市委书记江泽民为新总书记</mark>；罢黜胡启立、芮杏文和阎明复，选出宋平、李瑞环入政治局常委会，丁关根入书记处。中央纪律检查委员会会议决定一系列清党整党措施。</p>
        <p>6.29 全国人大常委会召开，改变了原订议程，首先学习四中全会文件。会议免除了赵紫阳仅余的国家军事委员会第一副主席职务。</p>
        <p>7.3 王丹潜回北京，与台湾《自立晚报》记者黄德北会面时，被追捕，稍后失踪。黄德北翌日被捕。</p>
        <p>7.4 吾尔开希和严家其逃离大陆在法国巴黎发表《国殇月宣言》，谴责屠城暴行。</p>
        <p>7.11 中共考虑对台关系后释放黄德北。</p>
        <p>7.18 严家其、吾尔开希、万润南、苏绍智和刘宾雁五人在巴黎倡议成立「民主中国阵线」，团结海内外华人，以和平非暴力手段推翻专政。</p>
      </div>
    </div>
  </div>
</section>
