<section id="video">
  <div class="container">
    <div class="row">
      <div class="list-group">
        <a class="list-group-item" href="6fvzCkFBcxM.mp4">王维林拦坦克视频1（25.5 MB, 2:55, 有声）</a>
        <a class="list-group-item" href="qq8zFLIftGk.mp4">王维林拦坦克视频2（8.5 MB, 4:40, 无声）</a>
        <a class="list-group-item" href="HAUo4kBkTvU.mkv">1989年6月4日新闻联播前五分钟（12.5 MB, 5:09, 有声）</a>
        <a class="list-group-item" href="BOCoSW16nCw.mp4">1989年6月3日新闻联播：戒严部队指挥部紧急通告（2.3 MB, 0:32, 有声）</a>
        <a class="list-group-item" href="Ea3LiY7aMVI.mp4">BBC新闻档案节选：六四清场报道 （43.6 MB, 6:40, 有声，英文+中文字幕）</a>
        <a class="list-group-item text-muted" href="#">持续搜集中……</a>
      </div>
    </div>
  </div>
</section>
